body {
  background: rgb(121, 121, 121);
  color: black;
  font-family: 	Franklin Gothic;
}

.menu {
  width: 100%;
  height: 100px;
  margin: 20px 0 0 0;
}

.btnMobileLink {
  width: 30%;
  height: 35px;
  float: left;
  text-align: center;
  background: rgb(37, 37, 37);
  border-radius: 40px 10px 10px 40px;
  margin: 0 0 0 20%;
  padding: 15px 0 0 0;
}

.btnBankLink {
  width: 30%;
  height: 35px;
  float: right;
  text-align: center;
  background: rgb(37, 37, 37);
  border-radius: 10px 40px 40px 10px;
  margin: 0 20% 0 0;
  padding: 15px 0 0 0;
}

.linkMobileStyle { 
  display: block; 
  height: 35px; 
  border-radius: 10px 40px 40px 10px;
}
.btnBankLink:hover {
  background: rgb(45, 45, 45);
}

.linkBankStyle { 
  display: block; 
  height: 35px; 
  border-radius: 40px 10px 10px 40px;
}
.btnMobileLink:hover {
  background: rgb(45, 45, 45);
}

a:link {
  color: #497DDD; 
  border-bottom: 1px dashed; 
  text-decoration: none;
}
a:visited {
  color:white;
  text-decoration: none;
}
a:hover {
  color: #c5e703; 
  border-bottom: .07em solid;
  text-decoration: none;
}
a:active {
  color: #497DDD; 
  border-bottom: 1px dashed;
  text-decoration: none;
}


.card-block {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 40vh;
  min-width: 600px;
  min-height: 300px;
  margin: 10vh auto;
}

.bankCardFront {
  background: rgb(37, 37, 37);
  color: white;
  width: 26vw;
  height: 30vh;
  min-width: 380px;
  min-height: 200px;
  border-radius: 10px;
  margin: -250px 0 0 100px;
}

.bankCardBack {
  background: rgb(19, 19, 19);
  color: white;
  width: 26vw;
  height: 30vh;
  min-width: 380px;
  min-height: 200px;
  border-radius: 10px;
  margin: 45px 0 0 270px;
}

.bankCardBackBlackLine {
  height: 45px;
  margin-top: 30px;
  background: rgb(173, 173, 173);
}

.title-head {
  text-align: center;
  background: rgb(37, 37, 37);
  color: white;
  border-radius: 10px 10px;
  width: 400px;
  margin: 0 auto 20px auto;
}

.card-p {
  text-align: left;
  padding-left: 30px;
}

.card-input {
  width: 260px;
  font-family: 	Franklin Gothic;
  margin: -26px 10px 0px 60px;
}

.card-input-name {
  margin: 1px 0 0 60px;
  width: 310px;
  font-family: 	Franklin Gothic;
}

.card-input-cvc {
  margin: 0px 0 0 260px;
  width: 100px;
  font-family: 	Franklin Gothic;
}

.card-input-p {
  text-align: left;
  margin: -10px 10px 0 230px;
}

.mounthCard {
  margin: -60px 0 0px 170px;
  border-radius: 5px;
  width: 60px;
  padding-left: 15px;
  height: 35px;
}

.yearCard {
  margin: -60px 0 0px 250px;
  border-radius: 5px;
  width: 70px;
  height: 35px;
  padding-left: 10px;
}

.credit-card-icon {
  width: 25px;
  height: 25px;
  margin: 0px 0 0 30px;
}

.calendar-icon {
  width: 25px;
  height: 25px;
  margin: -40px 0 0 140px;
}

.person-icon {
  width: 25px;
  height: 25px;
  margin: -27px 0 0 30px;
}

.cvc-icon {
  width: 25px;
  height: 25px;
  margin: 10px 0 -25px 230px;
}

.visa-icon {
  width: 60px;
  height: 50px;
  margin: 0 0 -15px 260px;
}

.master-card {
  width: 50px;
  height: 50px;
  margin: -55px 0 20px 325px;
}


input {
  width: 300px;
  font-size: 13px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 8px;
}

.btnSend {
  margin: 0 0 0 45%;
  background: rgb(37, 37, 37);
  color: white;
  width: 150px;
}

.errorMessage {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  color: red;
}

.messgaeGood {
  color: green;
}

.mobileBlock{
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 40vh;
  min-width: 600px;
  min-height: 300px;
  margin: 10vh auto;
}

.mobileCardBlock {
  background: rgb(37, 37, 37);
  color: white;
  width: 27vw;
  height: 30vh;
  min-width: 380px;
  min-height: 200px;
  border-radius: 10px;
  margin: 10px auto;
}
